# .gitignore for rust-bitcoin repository workspace.

# Lock files
Cargo.lock
internals/Cargo.lock
tapyrus/Cargo.lock
hashes/Cargo.lock

# Build artifacts
target
internals/target
tapyrus/target
hashes/target

# Test artifacts
tapyrus/dep_test

# Fuzz artifacts
hfuzz_target
hfuzz_workspace
